h1,
h2,
h3,
h4,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-inline-start: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: #000;
  font-family: "TT Hoves", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.56;
  margin: 0 auto;
  background: #FFF;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.img {
  display: block;
}

.section {
  margin-bottom: 120px;
}

.section-title {
  color: #BDBDBD;
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 60px;
}

.btn {
  width: 222px;
  height: 71px;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 29px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.light-btn {
  background-color: #FFF;
}

.dark-btn {
  background-color: #333;
  color: #FFFFFF;
}

.header {
  display: flex;
  padding-top: 29px;
  padding-bottom: 29px;
  color: #333;
}
.header .container {
  display: flex;
}

.header-navigation {
  display: flex;
  gap: 330px;
  align-items: center;
  text-align: center;
}

.nav-list {
  display: flex;
  gap: 60px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.nav-link {
  color: #333;
}

.header .current {
  padding-top: 4px;
  padding-bottom: 4px;
  border: #333 1px solid;
  border-left: 0;
  border-right: 0;
}

.hero-section .container {
  display: flex;
  justify-content: space-between;
}

.hero-section-title-wrapper {
  padding-top: 336px;
}
.hero-section-title-wrapper .btn-wrapper {
  margin-bottom: 94px;
  display: flex;
  gap: 23px;
}
.hero-section-title-wrapper .btn-wrapper .hero-btn {
  width: 53px;
  height: 53px;
  border: 1px solid #F2F2F2;
  background: transparent;
}
.hero-section-title-wrapper .hero-img-numeration {
  color: #BDBDBD;
  font-size: 24px;
  line-height: 1;
  display: flex;
  gap: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  align-items: center;
}
.hero-section-title-wrapper .hero-img-numeration li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.hero-section-title-wrapper .hero-img-numeration li:first-child::after {
  content: "";
  width: 34px;
  height: 33px;
  fill: #E0E0E0;
  background-image: url(../icons/diagonal.svg);
  background-repeat: no-repeat;
}

.hero-section-title {
  display: flex;
  font-style: normal;
  flex-wrap: wrap;
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 90px;
  color: #BDBDBD;
}
.hero-section-title span {
  color: #333;
  font-weight: 700;
}

.hero-section-img-wrapper {
  position: relative;
}
.hero-section-img-wrapper button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-section > .container {
  width: 1170px;
  display: flex;
  gap: 30px;
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  padding-right: 70px;
  margin-bottom: 150px;
  background: #FBFBFB;
}
.about-section > .container .img-wrapper {
  display: flex;
  position: relative;
  gap: 30px;
}
.about-section > .container .img-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-section > .container .img-wrapper img:last-of-type {
  padding-top: 30px;
}
.about-section > .container .img-wrapper img:nth-of-type(2) {
  position: absolute;
  bottom: -60px;
  left: 0;
}
.about-section > .container .wrapper {
  width: 400px;
}

.about-section-title {
  margin-bottom: 20px;
}

.section-text {
  margin-bottom: 20px;
}

.goals-section-title {
  margin-bottom: 60px;
}

.goals-section-list {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 1.64;
}
.goals-section-list .goals-item:first-child div:nth-child(2) {
  width: 279px;
}
.goals-section-list .goals-item.item:last-child div:nth-child(2) {
  width: 420px;
}

.goals-item {
  display: flex;
  gap: 30px;
  align-items: start;
}
.goals-item .goals-number {
  display: flex;
  align-items: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 200px;
  font-weight: 900;
  color: #F2F2F2;
  line-height: 1;
  letter-spacing: 0;
  height: 140px;
}

.projects-section > .container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.projects-section > .container > .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-section > .container > .wrapper .leisure-center-wrapper {
  width: 100%;
  display: flex;
  gap: 30px;
}

.img-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.leisure-center {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 79px;
  padding-top: 48px;
  padding-right: 78px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(../images/projects-section-img-1.jpg);
  background-size: cover;
  background-position: center;
}
.leisure-center h3 {
  width: 413px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.leisure-center > button {
  display: flex;
  color: #FFF;
  background: transparent;
  padding: 14px 0;
  height: 38px;
  width: 103px;
}
.leisure-center > button > svg {
  fill: #FFF;
}

.more-btn > svg {
  fill: #FFF;
}

.contact-section {
  display: flex;
  margin-bottom: 268px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.contact-section-title {
  margin-bottom: 22px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 391px;
  gap: 10px;
  position: relative;
}
.form input {
  padding: 21px 15px 21px 14px;
  background-color: #F3F3F3;
  color: #8D8D8D;
  border: none;
}
.form textarea {
  padding: 21px 15px 21px 14px;
  background-color: #F3F3F3;
  color: #8D8D8D;
  height: 147px;
  border: none;
}
.form p {
  position: absolute;
  left: 40px;
  bottom: -62px;
}
.form .contact-btn {
  position: absolute;
  bottom: -148px;
  left: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 84px;
  color: #FFF;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.42px;
  background-color: #2C2C2C;
  color: #FFF;
}
.footer .container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.footer .footer-container {
  padding-top: 58px;
}
.footer > .copywrite {
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgba(200, 200, 200, 0.5019607843);
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Open Sans, sans-serif;
  line-height: 1.83;
  border-top: rgba(255, 255, 255, 0.1) 1px solid;
}

.footer-list-title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
  font-style: normal;
}

.footer-info-wrapper {
  margin-left: 100px;
}
.footer-info-wrapper .footer-info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address {
  margin-left: 157px;
}
.address .footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.footer-social-network {
  margin-left: 71px;
}
.footer-social-network .footer-social-network-list {
  display: flex;
  text-align: center;
  align-items: baseline;
  gap: 40px;
}

.footer-contacts-list-item > a {
  font-family: "TT Hoves", sans-serif;
  font-style: normal;
  font-family: inherit;
  color: inherit;
  display: flex;
  gap: 14px;
}/*# sourceMappingURL=main.css.map */