$base-font-color: #000;
$second-font-color:#333;
$title-font-color:#BDBDBD;

$base-background-color:#FFF;
$second-background-color:#FBFBFB;
$footer-background-color:#2C2C2C;

$form-input-background-color:#F3F3F3;
$form-input-base-font-color:#8D8D8D;
$form-input-second-font-color:#C30000;

$btn-light-background-color:#FFF;
$btn-dark-background-color:#333;

$gradient:linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8));